@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Layouts/Default/_asideLayout.cshtml";
}


@section aside{

    <h3>Categories</h3>
    <ul>
        @{
            for (int i = 1; i < 5; i++)
            {
                string words = Html.Ipsum().Words(3).ToString();
            <li>@Html.ActionLink(words, "Category", "Inventory", new { Id = i }, null)</li>
            }   
        }
    </ul>

}


<div itemscope itemtype="http://schema.org/ItemList">
    <h2 itemprop="name">Category Name</h2>
    
    <div itemprop="description">
        @Html.Ipsum().p()
    </div>

    <div class="itemCount">
        <h4><span itemprop="numberOfItems">9</span> Items</h4>
    </div>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        @for(int i = 0; i<9; i++){
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
                <a itemprop="url" href="@Url.Action("Details", "Product", new { Id = 1 })">
                    <div class="th">
                        @Html.Placehold(400, 400, null, null, null, new {alt="Photo alt text", itemprop = "image" })
                    </div>
                    <div itemprop="name">@Html.Ipsum().Words(5)</div>
                </a>
            </li>
        }
    </ul>

</div>
