@{
    Layout = "~/Views/Layouts/Default/_wideLayout.cshtml";
}


<ul class="clearing-thumbs" data-clearing>
    <li>
        <a class="th" href="@Url.Content("~/Images/comet.jpg")">
            <img src="@Url.Content("~/Images/comet-th.jpg")" />
        </a>
    </li>
    <li>
        <a class="th" href="@Url.Content("~/Images/comet.jpg")">
            <img src="@Url.Content("~/Images/comet-th.jpg")" />
        </a>
    </li>
    <li>
        <a class="th" href="@Url.Content("~/Images/comet.jpg")">
            <img src="@Url.Content("~/Images/comet-th.jpg")" />
        </a>
    </li>
</ul>